/* ----------TOC ------------ */
body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 66px 0px 20px 94px;padding: 0px;border: none;width: 700px;}

#page_1 #p1dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:606px;height:798px;}
#page_1 #p1dimg1 #p1img1 {width:606px;height:798px;}


#page_2 {position:relative; overflow: hidden;margin: 20px 0px 20px 94px;padding: 0px;border: none;width: 700px;height: 841px;}

#page_2 #p2dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:606px;height:841px;}
#page_2 #p2dimg1 #p2img1 {width:606px;height:841px;}

#page_3 {position:relative; overflow: hidden;margin: 20px 0px 20px 94px;padding: 0px;border: none;width: 700px;}

#page_3 #p3dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:606px;height:667px;}
#page_3 #p3dimg1 #p3img1 {width:606px;height:667px;}

#page_4 {position:relative; overflow: hidden;margin: 20px 0px 66px 96px;padding: 0px;border: none;width: 698px;}

.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: bold 16px 'Calibri';color: #000;line-height: 19px;}
.ft1{font: italic 13px 'Calibri';color: #000;line-height: 15px;}
.ft2{font: 12px 'Calibri';line-height: 14px;}
.ft3{font: 13px 'Calibri';margin-left: 15px;line-height: 15px;}
.ft4{font: bold 13px 'Calibri';line-height: 15px;}
.ft5{font: 13px 'Calibri';line-height: 15px;}
.ft6{font: 11px 'Calibri';line-height: 13px;}
.ft7{font: bold 13px 'Calibri';text-decoration: underline;color: #2e74b5;margin-left: 15px;line-height: 15px;}
.ft8{font: bold 13px 'Calibri';text-decoration: underline;color: #2e74b5;line-height: 15px;}
.ft9{font: 13px 'Calibri';text-decoration: underline;line-height: 15px;}
.ft10{font: bold 13px 'Calibri';text-decoration: underline;line-height: 15px;}
.ft11{font: bold 13px 'Calibri';text-decoration: underline;margin-left: 24px;line-height: 15px;}
.ft12{font: bold 12px 'Calibri';line-height: 14px;}
.ft13{font: 13px 'Calibri';margin-left: 19px;line-height: 15px;}
.ft14{font: 13px 'Calibri';margin-left: 14px;line-height: 15px;}
.ft15{font: bold 13px 'Calibri';text-decoration: underline;margin-left: 14px;line-height: 15px;}
.ft16{font: bold 21px 'Calibri';text-decoration: underline;color: #ff0000;line-height: 26px;}
.ft17{font: bold 21px 'Calibri';color: #ff0000;line-height: 26px;}
.ft18{font: 1px 'Calibri';line-height: 1px;}
.ft19{font: bold 13px 'Calibri';color: #000;line-height: 15px;}
.ft20{font: bold 13px 'Calibri';color: #000;background-color: #0070c0;line-height: 15px;}
.ft21{font: 1px 'Calibri';line-height: 8px;}
.ft22{font: 1px 'Calibri';line-height: 9px;}
.ft23{font: bold 19px 'Calibri';line-height: 23px;}
.ft24{font: 1px 'Calibri';line-height: 11px;}
.ft25{font: 1px 'Calibri';line-height: 5px;}
.ft26{font: 1px 'Calibri';line-height: 12px;}
.ft27{font: 1px 'Calibri';line-height: 4px;}
.ft28{font: 1px 'Calibri';line-height: 13px;}
.ft29{font: 1px 'Calibri';line-height: 14px;}
.ft30{font: bold 18px 'Calibri';line-height: 22px;}
.ft31{font: 1px 'Calibri';line-height: 7px;}
.ft32{font: bold 13px 'Calibri';background-color: #deeaf6;line-height: 15px;}
.ft33{font: 1px 'Calibri';line-height: 10px;}
.ft34{font: 1px 'Calibri';line-height: 6px;}
.ft35{font: 1px 'Calibri';line-height: 3px;}
.ft36{font: 13px 'Calibri';margin-left: 13px;line-height: 15px;}
.ft37{font: 13px 'Calibri';margin-left: 15px;line-height: 16px;}
.ft38{font: 13px 'Calibri';text-decoration: underline;color: #0000ff;line-height: 16px;}
.ft39{font: 13px 'Calibri';line-height: 16px;}
.ft40{font: 13px 'Calibri';margin-left: 14px;line-height: 16px;}
.ft41{font: 13px 'Calibri';margin-left: 17px;line-height: 15px;}
.ft42{font: 13px 'Calibri';text-decoration: underline;color: #0000ff;line-height: 15px;}
.ft43{font: 13px 'Calibri';margin-left: 18px;line-height: 15px;}
.ft44{font: bold 13px 'Calibri';line-height: 16px;}
.ft45{font: 13px 'Calibri';margin-left: 9px;line-height: 15px;}
.ft46{font: 13px 'Calibri';margin-left: 10px;line-height: 15px;}
.ft47{font: 9px 'Calibri';line-height: 11px;position: relative; bottom: 5px;}

.p0{text-align: left;padding-left: 228px;margin-top: 3px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 192px;margin-top: 0px;margin-bottom: 0px;}
.p2{text-align: justify;padding-left: 26px;padding-right: 91px;margin-top: 18px;margin-bottom: 0px;text-indent: -24px;}
.p3{text-align: left;padding-left: 26px;margin-top: 4px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 2px;margin-top: 17px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 2px;margin-top: 18px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 50px;padding-right: 102px;margin-top: 1px;margin-bottom: 0px;text-indent: -24px;}
.p7{text-align: left;padding-left: 50px;padding-right: 96px;margin-top: 3px;margin-bottom: 0px;text-indent: -24px;}
.p8{text-align: left;padding-left: 26px;margin-top: 18px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 26px;padding-right: 96px;margin-top: 18px;margin-bottom: 0px;text-indent: -24px;}
.p10{text-align: left;padding-left: 59px;padding-right: 96px;margin-top: 18px;margin-bottom: 0px;text-indent: -31px;}
.p11{text-align: left;padding-left: 59px;padding-right: 96px;margin-top: 3px;margin-bottom: 0px;text-indent: -34px;}
.p12{text-align: left;padding-left: 21px;margin-top: 17px;margin-bottom: 0px;}
.p13{text-align: left;padding-left: 26px;margin-top: 17px;margin-bottom: 0px;}
.p14{text-align: left;padding-left: 33px;margin-top: 1px;margin-bottom: 0px;}
.p15{text-align: left;padding-left: 59px;padding-right: 96px;margin-top: 1px;margin-bottom: 0px;text-indent: -29px;}
.p16{text-align: left;padding-left: 59px;padding-right: 96px;margin-top: 3px;margin-bottom: 0px;text-indent: -32px;}
.p17{text-align: left;padding-left: 27px;margin-top: 2px;margin-bottom: 0px;}
.p18{text-align: justify;padding-left: 59px;padding-right: 96px;margin-top: 2px;margin-bottom: 0px;text-indent: -29px;}
.p19{text-align: left;padding-left: 31px;margin-top: 20px;margin-bottom: 0px;}
.p20{text-align: left;padding-left: 2px;padding-right: 96px;margin-top: 17px;margin-bottom: 0px;}
.p21{text-align: left;padding-left: 2px;margin-top: 19px;margin-bottom: 0px;}
.p22{text-align: left;padding-left: 50px;margin-top: 1px;margin-bottom: 0px;}
.p23{text-align: left;padding-left: 74px;padding-right: 96px;margin-top: 1px;margin-bottom: 0px;text-indent: -24px;}
.p24{text-align: left;padding-left: 74px;padding-right: 96px;margin-top: 3px;margin-bottom: 0px;text-indent: -24px;}
.p25{text-align: left;padding-left: 50px;margin-top: 19px;margin-bottom: 0px;}
.p26{text-align: left;padding-left: 2px;margin-top: 2px;margin-bottom: 0px;}
.p27{text-align: left;padding-left: 74px;padding-right: 96px;margin-top: 2px;margin-bottom: 0px;text-indent: -24px;}
.p28{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p29{text-align: left;padding-left: 12px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p30{text-align: left;padding-left: 17px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p31{text-align: left;padding-left: 61px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p32{text-align: left;padding-left: 49px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p33{text-align: left;padding-left: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p34{text-align: left;padding-left: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p35{text-align: left;padding-left: 21px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p36{text-align: left;padding-left: 45px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p37{text-align: right;padding-right: 14px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p38{text-align: center;padding-right: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p39{text-align: center;padding-right: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p40{text-align: center;padding-left: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p41{text-align: left;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p42{text-align: left;padding-left: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p43{text-align: left;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p44{text-align: left;padding-left: 23px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p45{text-align: left;padding-left: 73px;padding-right: 96px;margin-top: 3px;margin-bottom: 0px;text-indent: -24px;}
.p46{text-align: left;padding-left: 73px;padding-right: 96px;margin-top: 2px;margin-bottom: 0px;text-indent: -24px;}
.p47{text-align: left;padding-left: 49px;margin-top: 3px;margin-bottom: 0px;}
.p48{text-align: left;padding-left: 73px;margin-top: 1px;margin-bottom: 0px;}
.p49{text-align: justify;padding-left: 73px;padding-right: 96px;margin-top: 2px;margin-bottom: 0px;text-indent: -24px;}
.p50{text-align: left;padding-left: 10px;padding-right: 104px;margin-top: 22px;margin-bottom: 0px;}
.p51{text-align: left;padding-left: 2px;margin-top: 3px;margin-bottom: 0px;}
.p52{text-align: left;padding-left: 50px;margin-top: 2px;margin-bottom: 0px;}
.p53{text-align: justify;padding-left: 74px;padding-right: 96px;margin-top: 1px;margin-bottom: 0px;text-indent: -24px;}
.p54{text-align: justify;padding-left: 74px;padding-right: 96px;margin-top: 2px;margin-bottom: 0px;text-indent: -24px;}
.p55{text-align: left;padding-left: 74px;padding-right: 96px;margin-top: 6px;margin-bottom: 0px;text-indent: -24px;}
.p56{text-align: left;padding-left: 74px;padding-right: 97px;margin-top: 3px;margin-bottom: 0px;text-indent: -24px;}
.p57{text-align: justify;padding-left: 26px;padding-right: 96px;margin-top: 18px;margin-bottom: 0px;text-indent: -24px;}
.p58{text-align: justify;padding-left: 26px;padding-right: 96px;margin-top: 17px;margin-bottom: 0px;text-indent: -24px;}
.p59{text-align: left;padding-left: 26px;padding-right: 97px;margin-top: 20px;margin-bottom: 0px;text-indent: -24px;}
.p60{text-align: left;padding-left: 59px;padding-right: 97px;margin-top: 3px;margin-bottom: 0px;text-indent: -19px;}
.p61{text-align: left;padding-left: 40px;margin-top: 3px;margin-bottom: 0px;}
.p62{text-align: left;padding-left: 40px;margin-top: 1px;margin-bottom: 0px;}
.p63{text-align: justify;padding-left: 40px;padding-right: 96px;padding-top: 1px;margin-top: 1px;margin-bottom: 0px;}
.p64{text-align: justify;padding-left: 24px;padding-right: 91px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p65{text-align: left;padding-left: 24px;padding-right: 97px;margin-top: 22px;margin-bottom: 0px;text-indent: -24px;}
.p66{text-align: justify;padding-left: 24px;padding-right: 96px;margin-top: 19px;margin-bottom: 0px;text-indent: -24px;}
.p67{text-align: justify;padding-left: 24px;padding-right: 97px;margin-top: 23px;margin-bottom: 0px;text-indent: -24px;}
.p68{text-align: left;padding-left: 24px;padding-right: 96px;margin-top: 21px;margin-bottom: 0px;text-indent: -24px;}
.p69{text-align: left;margin-top: 19px;margin-bottom: 0px;}

.td0{border-left: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #0070c0;}
.td1{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 52px;vertical-align: bottom;background: #0070c0;}
.td2{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #0070c0;}
.td3{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;background: #0070c0;}
.td4{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 73px;vertical-align: bottom;background: #0070c0;}
.td5{border-right: #000000 1px solid;border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;background: #0070c0;}
.td6{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 143px;vertical-align: bottom;background: #0070c0;}
.td7{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 193px;vertical-align: bottom;background: #0070c0;}
.td8{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #0070c0;}
.td9{border-top: #000000 1px solid;padding: 0px;margin: 0px;width: 71px;vertical-align: bottom;background: #0070c0;}
.td10{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #0070c0;}
.td11{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #0070c0;}
.td12{padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;background: #0070c0;}
.td13{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 73px;vertical-align: bottom;background: #0070c0;}
.td14{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;background: #0070c0;}
.td15{padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #0070c0;}
.td16{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 71px;vertical-align: bottom;background: #0070c0;}
.td17{border-left: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #0070c0;}
.td18{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 52px;vertical-align: bottom;background: #0070c0;}
.td19{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #0070c0;}
.td20{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;background: #0070c0;}
.td21{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;background: #0070c0;}
.td22{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 143px;vertical-align: bottom;background: #0070c0;}
.td23{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 193px;vertical-align: bottom;background: #0070c0;}
.td24{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #0070c0;}
.td25{border-left: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #deeaf6;}
.td26{padding: 0px;margin: 0px;width: 52px;vertical-align: bottom;background: #deeaf6;}
.td27{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #deeaf6;}
.td28{padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;}
.td29{padding: 0px;margin: 0px;width: 73px;vertical-align: bottom;}
.td30{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;}
.td31{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 150px;vertical-align: bottom;}
.td32{padding: 0px;margin: 0px;width: 193px;vertical-align: bottom;}
.td33{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td34{padding: 0px;margin: 0px;width: 78px;vertical-align: bottom;}
.td35{padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td36{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 78px;vertical-align: bottom;}
.td37{padding: 0px;margin: 0px;width: 71px;vertical-align: bottom;}
.td38{border-left: #000000 1px solid;border-bottom: #deeaf6 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #deeaf6;}
.td39{border-bottom: #deeaf6 1px solid;padding: 0px;margin: 0px;width: 52px;vertical-align: bottom;background: #deeaf6;}
.td40{border-right: #000000 1px solid;border-bottom: #deeaf6 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #deeaf6;}
.td41{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 6px;vertical-align: bottom;}
.td42{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 150px;vertical-align: bottom;}
.td43{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 78px;vertical-align: bottom;}
.td44{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td45{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 200px;vertical-align: bottom;}
.td46{border-right: #000000 1px solid;padding: 0px;margin: 0px;width: 81px;vertical-align: bottom;}
.td47{padding: 0px;margin: 0px;width: 143px;vertical-align: bottom;}
.td48{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 143px;vertical-align: bottom;}
.td49{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;}
.td50{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 71px;vertical-align: bottom;}
.td51{border-left: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #deeaf6;}
.td52{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 52px;vertical-align: bottom;background: #deeaf6;}
.td53{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 7px;vertical-align: bottom;background: #deeaf6;}
.td54{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 73px;vertical-align: bottom;}
.td55{border-right: #000000 1px solid;border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 8px;vertical-align: bottom;}
.td56{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 193px;vertical-align: bottom;}

.tr0{height: 16px;}
.tr1{height: 24px;}
.tr2{height: 8px;}
.tr3{height: 17px;}
.tr4{height: 9px;}
.tr5{height: 27px;}
.tr6{height: 38px;}
.tr7{height: 11px;}
.tr8{height: 5px;}
.tr9{height: 12px;}
.tr10{height: 4px;}
.tr11{height: 13px;}
.tr12{height: 14px;}
.tr13{height: 47px;}
.tr14{height: 7px;}
.tr15{height: 10px;}
.tr16{height: 6px;}
.tr17{height: 20px;}
.tr18{height: 33px;}
.tr19{height: 3px;}
.tr20{height: 15px;}

.t0{width: 605px;margin-left: 2px;margin-top: 12px;font: bold 13px 'Calibri';}

.row{
    overflow: hidden; 
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.btn-super-danger {
	color:red;
	background-color:#fff;
	width:35px;
	height:35px;
	padding:0px;
}

.btn-super-danger2 {
	color:white;
	background-color:red;
	width:100px;
}


.modal-dialog{
    max-width:70%;
    max-height: 80%;
   
   }
   
.toc_box {
overflow: auto;
height: 400px;
}

/* ----------TOC ------------ */