
.page_box {
    background-color: #fff;
    height: auto;
    padding: 20px;
    overflow: auto;
    width: 100%;
}

.page_bottom_div {
    text-align: right;
}

.table td {
    border-bottom: solid #c1c5cc 2px;
 }


.table td {
   border-bottom: solid #c1c5cc 1px;
}


h3 {
    color: #96a3ba;
}

.expired_campaign {
    background-color: #fcbdbd !important;
    color: #9e9184 !important;
}

.disabled_row {
    background-color: #dedee0 !important;
    color: #9e9184 !important;
}


tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}