html {
    font-size: 16px;
    font-family: Helvetica;
}

.error {
    color: red !important;
    font-weight: normal;
}

/**header*/
#topbar {
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
}

#header-main {
    background-color: #f0f0f0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.d-flex.flex-row {
    border: 5px blue;
    width: 100%;
    color: white;
    height: 50px;
}


/* make input look like disabled */
.disable {
    pointer-events: none;
    opacity: 0.5;
}

/**end header*/

/* Custom checkbox */
 /* Customize the label (the container) */
 .chkbox_container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .chkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  /*
  .chkbox_container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  */
  
  /* When the checkbox is checked, add a blue background */
  .chkbox_container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .chkbox_container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .chkbox_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } 


  /* Custom checkbox End */


  .form-no-margin, .inline-button {
    margin:0px; 
    padding:0px; 
    display:inline;
}



/* Overlay */
#uniqueIdOverlay , #tcOverlay {
    overflow: hidden;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.overlayInnerBox {
  position: absolute;
  width: 550px;
  height: 200px;
  border-radius: 10px;
 
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;

  background-color: #ffffff;
  z-index: 3;
  cursor: pointer;
  border: solid 1px #d5dbe5;
}


.tcOverlayInnerBox {
  position: absolute;
  width: 550px;
  height: 400px;
  border-radius: 10px;
 
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;

  background-color: #ffffff;
  z-index: 3;
  cursor: pointer;
  border: solid 1px #d5dbe5;
}

#uniqueIdOverlaytext {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.1rem;
  color: rgb(17, 17, 17);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#tcOverlaytext {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  color: rgb(17, 17, 17);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

/* Overlay end*/

/* Modal close button*/
.btn-super-danger {
	color:red;
	background-color:#fff;
	width:35px;
	height:35px;
	padding:0px;
}

.btn-super-danger2 {
	color:white;
	background-color:red;
	width:100px;
}

/* Modal close button end */