
/*--- reset code ---*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {
	display: block;
}
ol,ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}

/* start editing from here */
a {
	text-decoration:none;
}
.txt-rt {
	text-align:right;
}/* text align right */
.txt-lt {
	text-align:left;
}/* text align left */
.txt-center {
	text-align:center;
/*-- W3Layouts --*/	
}/* text align center */
.float-rt {
	float:right;
}/* float right */
.float-lt {
	float:left;
}/* float left */
.clear {
	clear:both;
}/* clear float */
.pos-relative {
	position:relative;
}/* Position Relative */
.pos-absolute {
	position:absolute;
}/* Position Absolute */
.vertical-base {	
	vertical-align:baseline;
}/* vertical align baseline */
.vertical-top {	
	vertical-align:top;
}/* vertical align top */
nav.vertical ul li {	
	display:block;
}/* vertical menu */
nav.horizontal ul li {	
	display: inline-block;
}/* horizontal menu */
img {
	max-width:100%;
}
/*--- end reset code ---*/
body {
	padding: 0;
	margin: 0;
	background: #FFF;
	margin: 0;
	font-family: 'Helvetica Neue', sans-serif;
}
body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"], input[type="submit"], #btnSubmit {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	max-width : 40%;
}
label {
	margin: 0;
    letter-spacing: 1px;
    color: #fff;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none;
}

p{
	font-family: 'Helvetica Neue', sans-serif;
}
.register-full {
    width: 90%;
    margin: 2em auto 0;
	text-align: center;
}

.register-left {

	
}
.register-right {
    background: #FFFFFF;
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(253, 249, 249, 0.75);
    -moz-box-shadow: 0px 0px 2px 1px rgba(253, 249, 249, 0.75);
    box-shadow: 2px 2px 2px 1px rgba(253, 249, 249, 0.75);
}
.register-in {
    padding: 1em;
}
.register-left{
	width: 30% !important;
	float: left;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
	margin-right:5px;
	margin-left:120px !important;
	background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(253, 249, 249, 0.75);
    -moz-box-shadow: 0px 0px 2px 1px rgba(253, 249, 249, 0.75);
    box-shadow: 1px 1px 9px 2px rgba(114, 111, 111, 0.75)
}
.register-right {
    width: 50% !important;
    float: left;
}
.register-left p {
    margin: 2em 0;
    line-height: 28px;
    font-size: 15px;
    font-weight: 100;
	padding:0 4em;
    letter-spacing: 1px;
    color: #000000;
    text-align: center;
 
}
.register-left h1 {
    font-size: 3em;
    text-transform: uppercase;
    margin-top: .5em;
    margin-bottom: .5em;
    color: #000000;
    text-align: center;
}
.register-right h2 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 5px;
	color: #000;
	font-size:1.0em;
}
.link a {
    color: #FFFFFF;
    padding: .5em;
    font-size: 1.5em;
    border:2px solid #0a7369;
}
.checkbox a {
    color: #999;
}
.checkbox a:hover {
    color: #fff;
}
.link a:hover{
	color:#000;
    border:2px solid #FFFFFF;
	background:none;
}
.register-form{
	margin:2em 0 0 0;
}
.register-form h4,.address h4{
    margin-bottom: 2em;
    color: #404040;
    margin: 0 0 2em 0;
    font-weight: 600;
}
 .register input[type="text"],.register input[type="email"],.register input[type="password"],.register input[type="tel"]{
    font-size: 1em;
    color: #000;
    padding: 0.5em 1em;
    border: 0;
    width: 90%;
    border-bottom: 1px solid #000;
    background: none;
    -webkit-appearance: none;
	outline: none;
}

select{
    font-size: .9em;
    letter-spacing: 1px;
    color: #000;
	font-weight:100;
    padding: 0.6em .5em;
    border: 0;
    width: 97%;
    border-bottom: 1px solid #000;
    background: none;
	font-family: 'Poppins', sans-serif;
}

input[type="checkbox"] {
    cursor: pointer;
    margin-right: 10px;
}
.register textarea { 
	min-height: 150px;
    resize: none;
}
/*-- input-effect --*/
.styled-input.agile-styled-input-top {
    margin-top: 0;
} 

.styled-input input:focus ~ label, .styled-input input:valid ~ label,.styled-input textarea:focus ~ label ,.styled-input textarea:valid ~ label{
    font-size: .9em;
    color: #999;
    top: -1.3em;
    -webkit-transition: all 0.125s;
	-moz-transition: all 0.125s; 
	-o-transition: all 0.125s;
	-ms-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input {
	width: 100%;
    position: relative;
	margin: 0 0 2em;
}
.styled-input:nth-child(1),.styled-input:nth-child(3){
	margin-left:0;
}
.textarea-grid{
	float:none !important;
	width:100% !important;
	margin-left:0 !important;
}
.styled-input label {
	color: #000;
    padding: 0.5em .9em;
    letter-spacing: 1px;
	font-weight:100;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
    font-size: .9em;
    display: block;
    line-height: 1em;
}
.styled-input input ~ span,.styled-input textarea ~ span {
	display: block;
    width: 0;
    height: 2px;
    background: #000;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
}
option {
    background: #fff;
}
select:focus {
    outline: none;
}
.styled-input textarea ~ span { 
    bottom: 5px; 
}
.styled-input input:focus.styled-input textarea:focus { 
	outline: 0; 
} 
.styled-input input:focus ~ span,.styled-input textarea:focus ~ span {
	width: 100%;
	-webkit-transition: all 0.075s;
	-moz-transition: all 0.075s;  
	transition: all 0.075s; 
} 
/*-- //input-effect --*/
.register-form input[type="submit"], #btnSubmit {
    outline: none;
    color: #FFFFFF;
    width: 100%;
    padding: .4em 1em;
    font-size: 1.1em;
	letter-spacing: 1px;
    margin: 1.5em 0 0 0;
    border-radius:10px;
    -webkit-appearance: none;
    background: #ef241c;
    border: 2px solid #ef241c;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
	font-family: 'Poppins', sans-serif;
}
.logo{
	text-align: center;
	margin-top: 2em;
	
}
.logo span.fa {
    color: #ffffff;
    font-size: 6em;
}

input[type="text"] {
    width: 100%;
}
.content3 {
    text-align: center;
    margin: 7% auto 2%;
}
.content3 a {
    background: #2dde98;
    font-size: 15px;
    outline-offset: 4px;
    outline: 2px solid #fff;
	color: #ffffff;
    padding: 12px 30px;
	letter-spacing: 1px;
    display: initial;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.content3 a:hover {
    background: #ff4f81;
    outline: 2px solid transparent;
}
.content3 a.read {
    background: #ff4f81;
    font-size: 16px;
    outline-offset: 4px;
    outline: 2px solid #fff;
    padding: 12px 30px;
    display: initial;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.content3 a.read:hover {
    background: #2dde98;
    outline: 2px solid transparent;
}
.content3 ul li {
    display: inline-block;
    margin: 0 .5em;
}
/*-- //contact --*/
/*-- copyright --*/
.agile-copyright {
    color: #fff;
    text-align: center;
    font-size: 15px;
    margin: 2em 0 0;
    letter-spacing: 2px;
    font-weight: 200;
	font-family: 'Poppins', sans-serif;
}
.agile-copyright a:hover{
    color: #999;
}
.agile-copyright a {
    color: #fff;
}
/*-- //copyright --*/

/* responsive design */
@media (max-width: 1440px) {
	.register-left h1 {
        font-size: 2.9em;
        color:#000000;
	}
}
@media (max-width: 1366px) {
	.register-left h1 {
        font-size: 2.7em;
        color:#000000;
	}
	.register-right {
		width: 42%;
		float: left;
	}
	.register-left {
		width: 58%;
        float: left;
		background-color:#ffffff;
		margin-left:3px;
	}
}
@media (max-width: 1280px) {
	.register-right {
		width: 40%;
		float: left;
	}
	.register-left {
		width: 56%;
		float: left;
	}
}
@media (max-width: 1080px) {
	.register-full {
		width: 90%;
	}
	.register-left p {
        line-height: 1.6em;
        color: #000000;
	}
	.link a {
		padding: .4em;
		font-size: 1.4em;
	}
	.register-in {
		padding: 2em;
	}
}
@media (max-width: 1024px) {
	.register-left h1 {
        font-size: 2.3em;
        color:#000000;
	}
	.register-right h2 {
		font-size: 1.0em;
	}
	label {
		letter-spacing: 0px;
	}
	.register-left p {
		padding: 0 2em;
	}
	.content3 a.read ,.content3 a{
		font-size: 15px;
		padding: 8px 30px;
	}
	.logo span.fa {
        font-size: 5em;
        color:#ffffff;
	}
	.styled-input {
		margin: 0 0 1.7em;
	}
}
@media (max-width: 991px) {
	.register-right h2 {
		font-size: 1.0em;
	}
}

@media (max-width: 900px) {
	.register-full {
		width: 95%;
	}
	.register-left h1 {
		font-size: 2.1em;
	}
	.logo span.fa {
		font-size: 4em;
	}
	.register-left p {
		padding: 0 1em;
	}
	.agile-copyright {
		font-size: 14px;
		margin: 3em 0 0;
	}
}

@media (max-width: 800px) {
	.register-in {
		padding: 2em;
	}
	.register-left h1 {
        font-size: 2.1em;
        color:#000000;
	}
}
@media (max-width: 768px) {
	.register-left h1 {
		font-size: 2em;
	}
	.register-left p {
		padding: 0 4em;
	}
	.link a {
		padding: .4em;
		font-size: 1.2em;
	}
	.register-form input[type="submit"], #btnSubmit {
		font-size: 1.2em;
	}
	.register-left {
		width: 70% !important;
        float: none;
		background-color:#ffffff;		
	}
	.register-right {
		width: 70%;
		float: none;
		margin: 4em auto 0;
	}
	.logo {
		text-align: center;
		margin-top: 2em;
	}
}

@media (max-width: 736px) {
	.styled-input {
		margin: 0 0 1.2em;
	}
	.register-left h1 {
        font-size: 2em;
        color:#000000;
	}
	.register-right h2 {
		font-size: 1.0em;
	}
}
@media (max-width: 667px) {
	.register-in {
		padding: 2em;
	}
	.register-full {
		margin: 0em auto 0;
	}
	.logo {
		text-align: center;
		margin-top: 1em;
	}
}
@media (max-width: 640px) {
	.agile-copyright {
		letter-spacing: 1px;
	}
}
@media (max-width: 600px) {
	.register-left p {
		padding: 0 1em;
	}
}
@media (max-width: 568px) {
	.register-in {
		padding: 1.5em;
	}
	.register-left h1 {
        font-size: 1.7em;
        color:#000000;
	}
	.agile-copyright {
		margin: 3em 1em 0;
		line-height: 26px;
	}
	.register-form input[type="submit"], #btnSubmit {
		font-size: 1.1em;
	}
}
@media (max-width: 480px) {
	.register-left, .register-right {
		width: 100%;
		height: inherit;
	}
	.register-full {
		width: 90%;
	}
}
@media (max-width: 414px) {
	.register-left{
		width: 100%;
        height: inherit;
		background-color:#ffffff;
	}
	.register-right{
		width:100%;
	}
	input[type="checkbox"] {
		margin-right: 5px;
	}
	.logo span.fa {
		font-size: 3.5em;
	}
	.register input[type="text"], .register input[type="email"], .register input[type="password"], .register input[type="tel"] {
		width: 87%;
	}
	.logo {
		margin-top: 0em;
	}
}
@media (max-width: 384px) {
	.register-left h1 {
        font-size: 1.6em;
        color:#000000;
	}
	.register-left p {
		padding: 0 0em;
		font-size: 14px;
	}
	.content3 a.read, .content3 a {
		font-size: 14px;
		padding: 8px 20px;
	}
	.register input[type="text"], .register input[type="email"], .register input[type="password"], .register input[type="tel"] {
		width: 85%;
	}
}
@media (max-width: 375px) {
	.logo span.fa {
        font-size: 3em;
        color:#ffffff;
	}
}
@media (max-width: 320px) {
	body {
		padding: 2em 0;
	}
	.register-left p {
		font-size: 14px;
		letter-spacing: .4px;
	}
	.styled-input label, select {
		font-size: .875em;
	}
	.register input[type="text"], .register input[type="email"], .register input[type="password"], .register input[type="tel"] {
		width: 83%;
	}
	.register-left h1 {
        font-size: 1.35em;
        color:#000000;
	}
	.content3 a.read, .content3 a {
		padding: 7px 15px;
	}
	.register-right h2 {
		font-size: 1.0em;
	}
	.agile-copyright {
		margin: 3em 0.2em 0;
	}
	.link a{
		border: 1px solid #0a7369;
	}
	.link a:hover {
		border: 1px solid #FFFFFF;
	}
	.register-left p {
		margin: 1em 0 2em;
	}
	.register-form input[type="submit"], #btnSubmit {
		font-size: 1em;
	}
	.register-right {
		margin: 3em auto 0;
	}
}	

/* //responsive design */

/**stepper*/
.wrapper-progressBar {
    width: 100%
}

.progressBar {
   /* counter-reset: step;*/
}

.progressBar li {
    list-style-type: none;
    float: left;
    width: 25%;
    position: relative;
	text-align: center;
	color: gray;
    
}

.progressBar li:before {
    content: "\f25a";
	font-family: FontAwesome;
	font-size:1.8em;
    line-height: 40px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    color: #ffffff;
    background-color: #d3d3d3;
}

.progressBar li:after {                                                 
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    top: 20px;
    left: -50%;
    z-index: -1;
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.active {
    color: #000;
}

.progressBar li.active:before {
    border-color: #ef241c !important;
    background-color: #ef241c !important;
}

.progressBar .active:after {
    background-color: #ef241c !important;
}

.progressBar li#step2:before {
    content:"\f040";
    font-family: FontAwesome;
    color: #ffffff;
    background-color: #d3d3d3;
}

.progressBar li#step3:before {
    content:"\f040";
    font-family: FontAwesome;
    color: #ffffff;
    background-color: #d3d3d3;
}

.progressBar li#step4:before {
    content:"\f06b";
    font-family: FontAwesome;
    color: #ffffff;
    background-color: #d3d3d3;
    font-size:1.8em;
}

/**stepper*/

.register{
margin:auto;
padding:auto;
}

.modal-dialog{
 max-width:70%;
 max-height: 80%;
}

.toc_box {
overflow: auto;
height: 400px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.fake-input { position: relative; width: 70px; }
.fake-input input { border:none; background:#fff; display:block; width: 100%; box-sizing: border-box }
.fake-input img { position: absolute; top: 2px; right: 5px }

.country_code_box {
	display: inline-block;
	border-bottom: solid 1px #000;
}

.country_code_image_input {
	background: url("{{ URL::to('/') }}/images/icons/malaysia-flag.png") left center no-repeat !important;
	background-size: 16px 16px !important;
}


div.product_card {
    width:22%;
    float:left;
    margin:15px 1%;
}
/* ----------Styling for Smartphones------------ */
@media only screen and (max-device-width: 13cm) {

    div.product_card {
    width: 97%;
    float: none;
    }

}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}


#myModal {
	/*this to solve "the content will not be cut when the window is smaller than the content": */
	max-width:100%;
	max-height:100%;
	overflow:auto;
}