/* --------------------------------------------------------------------
 |
 | -- Form Container
 |
 ----------------------------------------------------------------------*/
.form-content {
  color: #fff; }
  .form-content .wrapper {
    max-width: 100%;
    background-color: #db0011;
    padding: 35px 30px 20px; }
  .form-content .form-title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 30px; }
    @media (max-width: 768px) {
      .form-content .form-title {
        font-size: 19px; } }
  .form-content .form-group {
    position: relative; }
    .form-content .form-group label {
      padding-bottom: 0px !important; }
  .form-content .agree-to-terms {
    width: 100%;
    margin: 0;
    margin: 5px 0;
    font-weight: 300; }
    .form-content .agree-to-terms td {
      font-size: 12px;
      vertical-align: top;
      padding-right: 10px; }
    .form-content .agree-to-terms input[type="checkbox"] {
      position: static;
      margin: 0; }
    .form-content .agree-to-terms a {
      color: #fff;
      text-decoration: underline; }
    .form-content .agree-to-terms .help-inline {
      font-size: 12px; }
  .form-content .help-inline {
    color: #000;
    padding-top: 5px;
    display: none;
    font-size: 12px;
    font-weight: 700; }
    @media (min-width: 768px) {
      .form-content .help-inline {
        font-size: 14px; } }
  .form-content .submit {
    border: none;
    font-size: 16px; }
  @media (min-width: 990px) {
    .form-content.fixed {
      left: 0;
      bottom: -2px;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 0px;
      z-index: 50; }
      .form-content.fixed > .wrapper {
        padding-top: 10px;
        padding-bottom: 10px; }
      .form-content.fixed .title {
        font-size: 15px;
        margin-bottom: 10px; }
      .form-content.fixed .form-group {
        padding-bottom: 20px; }
      .form-content.fixed .submit {
        margin-top: 10px; } }

.btn-black {
  color: #fff !important;
  background-color: #000; }
