.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
    padding-right: 5px;
    padding-left: 5px; }

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-15 {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left; } }
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left; } }
a, a:hover, a:active, a:focus {
  text-decoration: none; }

input, textarea, select, button {
  box-sizing: border-box; }
  input:focus, textarea:focus, select:focus, button:focus {
    outline: none; }

a, input {
  transition: all 0.3s ease; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  margin: 0 0 0; }

.align-center {
  text-align: center; }

.color-red {
  color: #DB0011; }

.bold--700 {
  font-weight: 700; }

.font--big {
  font-size: 40px;
  line-height: 1.2; }
  @media screen and (max-width: 992px) {
    .font--big {
      font-size: 35px;
      line-height: 1.2; } }
  @media screen and (max-width: 768px) {
    .font--big {
      font-size: 27px;
      line-height: 1.2; } }
  @media screen and (max-width: 480px) {
    .font--big {
      font-size: 22px;
      line-height: 1.2; } }

.font--small {
  font-size: 75%; }

.color--grey {
  color: #a2a2a2; }

.pb {
  margin-bottom: 20px; }

.p {
  padding: 45px; }

.border--left {
  border-right: 1px solid #DB0011; }

.border--right {
  border-right: 1px solid #D0DAE3; }
  .border--right:last-child {
    border-right: none; }
  @media (max-width: 991px) {
    .border--right {
      border-right: none;
      padding: 20px 0; }
      .border--right:last-child {
        border-bottom: none; } }

.full--content {
  padding-right: 0;
  padding-left: 0; }

.slick-dots li button:before {
  font-size: 55px;
  color: black; }

.slick-dots li.slick-active button:before {
  color: #EB4535; }

.arrow--right {
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translate(-94%, -50%);
  cursor: pointer; }
  .arrow--right img {
    width: 65%; }

.arrow--left {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(94%, -50%);
  cursor: pointer; }
  .arrow--left img {
    width: 65%; }

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif; }

.page__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  box-shadow: 0 0 16px #969595;
  position: relative; }

.section--gap {
  padding-top: 40px;
  padding-bottom: 50px; }
  @media (max-width: 767px) {
    .section--gap {
      padding: 20px 0; } }

.section--gap-top {
  padding-top: 50px; }
  @media (max-width: 767px) {
    .section--gap-top {
      padding-top: 20px 0; } }

/* ====================================
   SECTION HERO
   ====================================*/
.hero__title img {
  margin: 0 auto;
  max-width: 300px; }

.hero__subTitle {
  font-size: 30px;
  line-height: 1.2;
  margin: 0; }
  @media screen and (max-width: 992px) {
    .hero__subTitle {
      font-size: 30px;
      line-height: 1.2; } }
  @media screen and (max-width: 768px) {
    .hero__subTitle {
      font-size: 26px;
      line-height: 1.2; } }
  @media screen and (max-width: 480px) {
    .hero__subTitle {
      font-size: 22px;
      line-height: 1.2; } }

.hero__description p {
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 30px; }
  @media screen and (max-width: 992px) {
    .hero__description p {
      font-size: 22px;
      line-height: 1.4; } }
  @media screen and (max-width: 768px) {
    .hero__description p {
      font-size: 20px;
      line-height: 1.4; } }
  @media screen and (max-width: 480px) {
    .hero__description p {
      font-size: 18px;
      line-height: 1.4; } }

.hero__grand--price {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 55px; }
  @media (max-width: 767px) {
    .hero__grand--price {
      padding-top: 40px; } }

.price__title {
  font-size: 22px;
  line-height: 1.4; }
  @media screen and (max-width: 992px) {
    .price__title {
      font-size: 22px;
      line-height: 1.4; } }
  @media screen and (max-width: 768px) {
    .price__title {
      font-size: 20px;
      line-height: 1.4; } }
  @media screen and (max-width: 480px) {
    .price__title {
      font-size: 18px;
      line-height: 1.4; } }

.price__description {
  font-size: 18px;
  line-height: 1.3; }
  @media screen and (max-width: 992px) {
    .price__description {
      font-size: 17px;
      line-height: 1.3; } }
  @media screen and (max-width: 768px) {
    .price__description {
      font-size: 16px;
      line-height: 1.3; } }
  @media screen and (max-width: 480px) {
    .price__description {
      font-size: 16px;
      line-height: 1.3; } }

.hero__duration {
  color: #404040; }

/* ====================================
   SECTION CHOICE
   ====================================*/
.choice__title {
  font-size: 28px;
  line-height: 1.2; }
  @media screen and (max-width: 992px) {
    .choice__title {
      font-size: 29px;
      line-height: 1.2; } }
  @media screen and (max-width: 768px) {
    .choice__title {
      font-size: 25px;
      line-height: 1.2; } }
  @media screen and (max-width: 480px) {
    .choice__title {
      font-size: 20px;
      line-height: 1.2; } }

.choiceBox {
  padding: 30px 0 10px;
  margin-top: 20px;
  position: relative;
  height: 210px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db0011+0,ac000d+100 */
  background: #db0011;
  /* Old browsers */
  background: -moz-linear-gradient(left, #db0011 0%, #ac000d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #db0011 0%, #ac000d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #db0011 0%, #ac000d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db0011', endColorstr='#ac000d',GradientType=1 );
  /* IE6-9 */ }
  @media (max-width: 991px) {
    .choiceBox {
      height: auto;
      text-align: center;
      max-width: 300px;
      margin: 20px auto 0; } }

.choiceBox__img {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  max-width: 50%;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .choiceBox__img {
      position: static;
      transform: none;
      max-width: 60%; } }

#luggage, #tablet {
  top: 40%; }

#tablet {
  right: 25px; }

#lazada, #robot {
  top: 50%;
  right: 25px; }

#lazada {
  top: 50%;
  right: 10px; }

.choiceBox__text {
  font-size: 25px;
  line-height: 1.2;
  color: #ffffff;
  font-weight: 500;
  top: 50%;
  left: 30px;
  position: absolute;
  transform: translateY(-50%); }
  @media screen and (max-width: 992px) {
    .choiceBox__text {
      font-size: 22px;
      line-height: 1.2; } }
  @media screen and (max-width: 768px) {
    .choiceBox__text {
      font-size: 22px;
      line-height: 1.2; } }
  @media screen and (max-width: 480px) {
    .choiceBox__text {
      font-size: 20px;
      line-height: 1.2; } }
  @media (max-width: 991px) {
    .choiceBox__text {
      position: static;
      transform: none;
      height: 70px; } }
  @media (max-width: 479px) {
    .choiceBox__text {
      height: auto; } }

.choiceGift {
  padding-top: 50px; }
  @media (max-width: 767px) {
    .choiceGift {
      padding-top: 10px; } }

/* ====================================
   SECTION DISCLAIMER
   ====================================*/
.disclaimer {
  text-align: left;
  padding: 25px 50px 50px 50px;
  font-size: 12px;
  color: #404040; }
  @media (max-width: 767px) {
    .disclaimer {
      padding: 25px 30px 40px 30px; } }

.header__logo {
  width: 150px; }
  @media (max-width: 992px) {
    .header__logo {
      width: 130px; } }

.header {
  line-height: 60px; }

.header__menu ul {
  text-align: right; }
.header__menu li a {
  color: #0d1a26;
  margin: 10px 20px 0;
  padding: 0 4px; }

.Footer {
  background-color: #000;
  color: #999;
  font-size: 12px;
  padding: 12px 30px;
  text-align: left; }
  .Footer p {
    margin: 4px 0;
    padding: 0; }
  .Footer a {
    color: #ccc;
    text-decoration: none; }

.price__slider {
  margin: 0 auto; }

.price__box {
  margin: 0 50px; }

.navbar {
  padding-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px; }

.icon-bar {
  background-color: black; }

@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block;
    padding: 0;
    margin-bottom: 0; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important; }
    .navbar-collapse.collapse.in {
      display: block !important; }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; } }
/* --------------------------------------------------------------------
 |
 | -- Campaign Section
 |
 ----------------------------------------------------------------------*/
.campaign-header-wrapper {
  background-color: #fed6b5;
  padding: 40px 0; }
  .campaign-header-wrapper .campaign-first {
    line-height: 1.4;
    padding: 0 15px;
    padding-bottom: 25px;
    font-size: 32px; }
    @media (max-width: 768px) {
      .campaign-header-wrapper .campaign-first {
        font-size: 23px; } }

.not-bold {
  font-weight: 300 !important;
  padding-bottom: 20px; }

.campaign-table {
  background-color: #efeff0;
  padding: 50px 0 60px; }
  @media (max-width: 768px) {
    .campaign-table {
      padding: 30px 0; } }
  .campaign-table .table-title {
    font-weight: bold;
    font-size: 26px;
    padding-bottom: 30px; }
    @media (max-width: 768px) {
      .campaign-table .table-title {
        font-size: 20px; } }
  .campaign-table table {
    width: 100%;
    border-collapse: separate;
    border: 2px solid #000;
    font-size: 18px; }
    @media (max-width: 768px) {
      .campaign-table table {
        font-size: 16px; } }
    .campaign-table table td {
      width: 33.3333333333%;
      padding: 20px; }
      .campaign-table table td:nth-child(1) {
        background-color: #f7e0c5;
        border-top: 2px solid #fed6b5; }
      .campaign-table table td:nth-child(2) {
        background-color: #fbefe0;
        border-top: 2px solid #fed6b5;
        border-right: 2px solid #fed6b5;
        text-align: center; }
      .campaign-table table td:nth-child(3) {
        background-color: #fbefe0;
        border-top: 2px solid #fed6b5;
        text-align: center; }
      .campaign-table table td.light-orange {
        background-color: #fbefe0; }
      .campaign-table table td.medium-orange {
        background-color: #fcf4e9; }
      .campaign-table table td.dark-orange {
        background-color: #f8e5cd; }
      .campaign-table table td.darker-orange {
        background-color: #f9e8d3; }
      .campaign-table table td.white {
        background-color: #fff; }
      .campaign-table table td.bold {
        font-weight: 500; }
      .campaign-table table td.remove-border {
        border-top: 0; }
      .campaign-table table td.bolder-border {
        border-top: 3px solid #fed6b5;
        border-bottom: 1px solid #fed6b5; }
  .campaign-table .table-details {
    padding-top: 20px;
    font-size: 12px; }

.campaign-detail-section {
  padding: 20px 0px 60px 0px; }
  @media (min-width: 992px) {
    .campaign-detail-section {
      padding: 30px 50px; } }
  @media (min-width: 1200px) {
    .campaign-detail-section {
      padding: 30px 120px; } }
  .campaign-detail-section .table table {
    width: 100%;
    font-family: 'Univers', sans-serif; }
    .campaign-detail-section .table table td {
      width: 50%;
      vertical-align: middle;
      padding: 20px;
      font-size: 22px; }
      @media (max-width: 768px) {
        .campaign-detail-section .table table td {
          font-size: 18px; } }
      .campaign-detail-section .table table td.darkbrown {
        background-color: #6d513c;
        color: #fff;
        font-weight: bold; }
      .campaign-detail-section .table table td.lightbrown {
        background-color: #a57f64;
        color: #fff;
        font-weight: bold; }
      .campaign-detail-section .table table td.softerbrown {
        background-color: #fed5b5;
        border-bottom: 2px solid #fff; }
      .campaign-detail-section .table table td.lighterbrown {
        background-color: #feeada;
        border-bottom: 2px solid #fff; }
  .campaign-detail-section .orange {
    color: #ee7001;
    font-size: 34px; }
  .campaign-detail-section .green {
    color: green;
    font-size: 34px; }
  .campaign-detail-section .smaller {
    font-size: 20px;
    line-height: 22px;
    display: block;
    margin-top: 10px;
    margin-bottom: 40px; }
  .campaign-detail-section .smallFont {
    margin-top: 30px; }
    .campaign-detail-section .smallFont small {
      font-size: 12px;
      color: #333; }
  .campaign-detail-section .campaign-title {
    text-align: center;
    padding-bottom: 20px; }
    .campaign-detail-section .campaign-title .green, .campaign-detail-section .campaign-title .orange {
      font-size: 20px;
      line-height: 28px;
      font-weight: bold; }
      @media (min-width: 992px) {
        .campaign-detail-section .campaign-title .green, .campaign-detail-section .campaign-title .orange {
          font-size: 30px;
          line-height: 38px; } }
    .campaign-detail-section .campaign-title .green {
      font-size: 40px; }
  .campaign-detail-section .campaign-icons-new {
    margin-top: 20px; }
    .campaign-detail-section .campaign-icons-new h4 {
      height: 60px; }
    .campaign-detail-section .campaign-icons-new h6 {
      font-size: 14px;
      line-height: 18px; }
  .campaign-detail-section .campaign-icons {
    text-align: center;
    padding-top: 60px; }
    .campaign-detail-section .campaign-icons .icon-border {
      border-bottom: 1px solid #EEE; }
      @media (min-width: 768px) {
        .campaign-detail-section .campaign-icons .icon-border {
          border-bottom: none;
          border-right: 1px solid #000; } }
    .campaign-detail-section .campaign-icons .icon-border-md {
      border-bottom: 1px solid #EEE; }
      @media (min-width: 768px) {
        .campaign-detail-section .campaign-icons .icon-border-md {
          border-bottom: none; } }
      @media (min-width: 992px) {
        .campaign-detail-section .campaign-icons .icon-border-md {
          border-right: 1px solid #000; } }
    .campaign-detail-section .campaign-icons .campaign-icon {
      min-height: 170px;
      margin-top: 10px; }
    .campaign-detail-section .campaign-icons .campaign-text {
      min-height: 86px;
      margin-bottom: 10px; }

.title-text-big {
  font-weight: bold;
  font-size: 26px;
  padding-bottom: 30px;
  line-height: 1.4 !important; }
  @media (max-width: 768px) {
    .title-text-big {
      font-size: 20px; } }

toasting-couple {
  background: #fed6b5;
  background-size: cover;
  padding: 10px 0; }
  @media (min-width: 768px) {
    toasting-couple .row > div:first-child {
      padding-right: 5px; }
    toasting-couple .row > div:last-child {
      padding-left: 5px; } }
  toasting-couple .white-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 15px;
    margin: 20px 0;
    height: 80px;
    font-size: 13px; }
    toasting-couple .white-box h5 {
      margin: 0;
      font-size: 14px;
      font-weight: bold; }
    toasting-couple .white-box.three-liner {
      padding: 10px 15px; }
  toasting-couple span {
    margin-top: 5px;
    display: block; }
  toasting-couple.orange {
    background: #fed6b5; }
    toasting-couple.orange .white-box {
      height: 110px; }
  toasting-couple.green {
    background: #cce8c2; }
    toasting-couple.green .white-box {
      height: 110px; }
  toasting-couple.bm .white-box {
    height: 130px; }

.easy-steps {
  margin-top: 50px; }
  .easy-steps h2 {
    font-weight: normal; }
  .easy-steps img {
    width: 100%;
    max-width: 60px; }
  .easy-steps .section {
    margin-top: 30px; }

.grey-box {
  background-color: #F5F5F5;
  color: gray;
  font-size: 22px;
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 50px;
  clear: both; }

.works {
  background: #EDEDED;
  padding: 30px 0; }

.workTitle {
  font-size: 28px;
  line-height: 1.2; }
  @media screen and (max-width: 992px) {
    .workTitle {
      font-size: 29px;
      line-height: 1.2; } }
  @media screen and (max-width: 768px) {
    .workTitle {
      font-size: 25px;
      line-height: 1.2; } }
  @media screen and (max-width: 480px) {
    .workTitle {
      font-size: 20px;
      line-height: 1.2; } }

.work__title {
  font-size: 28px;
  line-height: 1.2;
  padding: 30px 0; }
  @media screen and (max-width: 992px) {
    .work__title {
      font-size: 29px;
      line-height: 1.2; } }
  @media screen and (max-width: 768px) {
    .work__title {
      font-size: 25px;
      line-height: 1.2; } }
  @media screen and (max-width: 480px) {
    .work__title {
      font-size: 20px;
      line-height: 1.2; } }

.acq__work .workCard {
  max-width: 291px;
  margin: 0 auto;
  margin-bottom: 35px !important; }
  @media (max-width: 991px) {
    .acq__work .workCard {
      margin-bottom: 50px; } }
.acq__work .workImage {
  background: #DB0011;
  padding: 20px;
  height: 100px; }
  .acq__work .workImage img {
    width: 24%; }
.acq__work .workBody {
  padding: 20px;
  background: #ffffff;
  height: 250px; }
.acq__work .workText {
  font-size: 20px;
  line-height: 1.4;
  padding-top: 20px; }
  @media screen and (max-width: 992px) {
    .acq__work .workText {
      font-size: 18px;
      line-height: 1.4; } }
  @media screen and (max-width: 768px) {
    .acq__work .workText {
      font-size: 17px;
      line-height: 1.4; } }
  @media screen and (max-width: 480px) {
    .acq__work .workText {
      font-size: 16px;
      line-height: 1.4; } }
.acq__work .info {
  text-align: center; }

.usage__gift .works {
  background: #EDEDED;
  padding: 30px 0; }
.usage__gift .workCard {
  margin: 0 auto;
  margin-bottom: 35px !important; }
  @media (max-width: 991px) {
    .usage__gift .workCard {
      margin-bottom: 50px; } }
.usage__gift .workImage {
  background: #DB0011;
  padding: 20px;
  height: 100px; }
.usage__gift .workBody {
  padding: 20px;
  background: #ffffff;
  height: 250px; }
.usage__gift .workTitle {
  font-size: 28px;
  line-height: 1.2; }
  @media screen and (max-width: 992px) {
    .usage__gift .workTitle {
      font-size: 29px;
      line-height: 1.2; } }
  @media screen and (max-width: 768px) {
    .usage__gift .workTitle {
      font-size: 25px;
      line-height: 1.2; } }
  @media screen and (max-width: 480px) {
    .usage__gift .workTitle {
      font-size: 20px;
      line-height: 1.2; } }
.usage__gift .workText {
  font-size: 20px;
  line-height: 1.4;
  padding-top: 20px; }
  @media screen and (max-width: 992px) {
    .usage__gift .workText {
      font-size: 18px;
      line-height: 1.4; } }
  @media screen and (max-width: 768px) {
    .usage__gift .workText {
      font-size: 17px;
      line-height: 1.4; } }
  @media screen and (max-width: 480px) {
    .usage__gift .workText {
      font-size: 16px;
      line-height: 1.4; } }
.usage__gift .work__title {
  font-size: 28px;
  line-height: 1.2;
  padding: 30px 0; }
  @media screen and (max-width: 992px) {
    .usage__gift .work__title {
      font-size: 29px;
      line-height: 1.2; } }
  @media screen and (max-width: 768px) {
    .usage__gift .work__title {
      font-size: 25px;
      line-height: 1.2; } }
  @media screen and (max-width: 480px) {
    .usage__gift .work__title {
      font-size: 20px;
      line-height: 1.2; } }
.usage__gift .info {
  text-align: center; }

.card__title {
  padding-top: 40px;
  font-size: 28px;
  line-height: 1.2; }
  @media screen and (max-width: 992px) {
    .card__title {
      font-size: 29px;
      line-height: 1.2; } }
  @media screen and (max-width: 768px) {
    .card__title {
      font-size: 25px;
      line-height: 1.2; } }
  @media screen and (max-width: 480px) {
    .card__title {
      font-size: 20px;
      line-height: 1.2; } }

.Card--desktop {
  padding: 50px 0 80px; }

.Card--desktop-amanah {
  padding: 50px 0 80px; }

.Card--mobile {
  padding: 50px 0 80px; }

@media only screen and (max-width: 768px) {
  .Card--desktop {
    display: none; } }
@media only screen and (min-width: 768px) {
  .Card--mobile {
    display: none; } }
.Form__table td {
  width: 33.33%;
  padding: 0px 15px; }

@media only screen and (min-width: 768px) {
  .FormField {
    padding: 30px; } }
@media only screen and (max-width: 768px) {
  .FormField {
    padding: 30px 0px; } }
.Card__name {
  font-size: 18px;
  font-weight: 700;
  color: #404040;
  text-align: center;
  padding-bottom: 15px; }

.CardFace {
  position: relative; }

.CardFace--large {
  width: 90%;
  margin: 0 auto; }

.CardFace--small {
  width: 90%;
  margin: 0 auto; }

.CardFace__shadow {
  position: absolute;
  transform: scale(0.97);
  height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 5px 15px 1px #8a8a8a;
  -moz-box-shadow: 0px 5px 15px 1px #8a8a8a;
  box-shadow: 0px 5px 15px 1px #8a8a8a; }

.CardFace__image {
  position: relative;
  z-index: 2; }
  .CardFace__image img {
    width: 100%; }

.CardContent {
  vertical-align: top;
  font-size: 20px; }

.CardContent__info {
  font-weight: 400;
  padding: 30px 15px 0;
  height: 200px; }

.CardContent__info-amanah {
  font-weight: 400;
  padding: 30px 15px 0;
  height: 130px; }

.CardFaceSlider {
  padding-bottom: 30px; }

.CardSlider__image {
  width: 90%;
  margin: 0 auto; }
  .CardSlider__image img {
    width: 100%; }

.SliderContent {
  padding: 0 15px; }

.SliderContent__info {
  max-width: 300px;
  margin: 0 auto;
  font-size: 18px; }

.CardSlider__name {
  font-size: 16px;
  font-weight: 700;
  color: #404040;
  text-align: center;
  height: 70px; }

.ipad {
  margin: 0% 0 5% 0; }
  @media (max-width: 991px) {
    .ipad {
      margin: 3% 0 5% 0; } }

.ipad__box {
  padding: 30px 0 10px;
  margin-top: 20px;
  position: relative;
  height: 350px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#db0011+0,ac000d+100 */
  background: #db0011;
  /* Old browsers */
  background: -moz-linear-gradient(left, #db0011 0%, #ac000d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #db0011 0%, #ac000d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(#db0011 0%, #ac000d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db0011', endColorstr='#ac000d',GradientType=1 );
  /* IE6-9 */ }
  @media (max-width: 991px) {
    .ipad__box {
      height: auto;
      text-align: center;
      max-width: 300px;
      margin: 20px auto 0; } }

.ipad__image {
  right: -40px;
  transform: translate(22%, -3%);
  max-width: 60%;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .ipad__image {
      position: static;
      transform: none; } }

.ipad__text {
  font-size: 30px;
  line-height: 1.2;
  color: #ffffff;
  top: 50%;
  left: 65px;
  position: absolute;
  transform: translateY(-50%); }
  @media screen and (max-width: 992px) {
    .ipad__text {
      font-size: 30px;
      line-height: 1.2; } }
  @media screen and (max-width: 768px) {
    .ipad__text {
      font-size: 26px;
      line-height: 1.2; } }
  @media screen and (max-width: 480px) {
    .ipad__text {
      font-size: 22px;
      line-height: 1.2; } }
  @media (max-width: 991px) {
    .ipad__text {
      position: static;
      transform: none;
      height: 70px; } }
  @media (max-width: 479px) {
    .ipad__text {
      height: auto; } }

.card-button-ip {
  background: #DB0011;
  text-align: center;
  padding: 7px 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.4;
  width: 46%;
  margin: 30px 0 0; }
  .card-button-ip:hover {
    background: #C1000F; }
  @media (max-width: 767px) {
    .card-button-ip {
      padding: 8px 0; } }

.card-button-gift {
  background: #DB0011;
  text-align: center;
  padding: 7px 0;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.4;
  width: 46%;
  margin: 30px 15px 0; }
  .card-button-gift:hover {
    background: #C1000F; }
  @media (max-width: 767px) {
    .card-button-gift {
      padding: 8px 0; } }

.term {
  margin: 10px 15px 0; }

/* ====================================
   SECTION OFFERS
   ====================================*/
.offers {
  background: #FFFFF2;
  text-align: left;
  padding-bottom: 50px; }

.offer__title {
  padding: 55px 0;
  font-size: 28px;
  line-height: 1.2; }
  @media screen and (max-width: 992px) {
    .offer__title {
      font-size: 29px;
      line-height: 1.2; } }
  @media screen and (max-width: 768px) {
    .offer__title {
      font-size: 25px;
      line-height: 1.2; } }
  @media screen and (max-width: 480px) {
    .offer__title {
      font-size: 20px;
      line-height: 1.2; } }

.cardOffer {
  box-shadow: -1px -1px 15px -4px rgba(0, 0, 0, 0.75);
  background: #ffffff;
  margin-bottom: 20px; }
  .cardOffer img {
    width: 100%; }

.card-title {
  font-size: 20px;
  line-height: 1.4; }
  @media screen and (max-width: 992px) {
    .card-title {
      font-size: 18px;
      line-height: 1.4; } }
  @media screen and (max-width: 768px) {
    .card-title {
      font-size: 17px;
      line-height: 1.4; } }
  @media screen and (max-width: 480px) {
    .card-title {
      font-size: 16px;
      line-height: 1.4; } }

.card-text {
  padding: 20px 0;
  font-size: 20px;
  line-height: 1.4; }
  @media screen and (max-width: 992px) {
    .card-text {
      font-size: 18px;
      line-height: 1.4; } }
  @media screen and (max-width: 768px) {
    .card-text {
      font-size: 17px;
      line-height: 1.4; } }
  @media screen and (max-width: 480px) {
    .card-text {
      font-size: 16px;
      line-height: 1.4; } }

.card-body {
  padding: 30px; }
  @media (max-width: 767px) {
    .card-body {
      padding: 20px; } }

.card-button {
  background: #DB0011;
  text-align: center;
  padding: 10px 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.3;
  width: 100%; }
  @media screen and (max-width: 992px) {
    .card-button {
      font-size: 17px;
      line-height: 1.3; } }
  @media screen and (max-width: 768px) {
    .card-button {
      font-size: 16px;
      line-height: 1.3; } }
  @media screen and (max-width: 480px) {
    .card-button {
      font-size: 16px;
      line-height: 1.3; } }
  .card-button:hover {
    background: #C1000F; }
  @media (max-width: 767px) {
    .card-button {
      padding: 8px 0; } }

.valid {
  height: 50px; }
