.Redform {
  background: #db0011; }

@media only screen and (max-width: 768px) {
  .Redform {
    padding: 25px 0 40px; } }
@media only screen and (min-width: 768px) {
  .Redform {
    padding: 25px 15px; } }
.Redform {
  font-size: 12px;
  color: #ffffff; }
  .Redform a {
    color: #ffffff;
    text-decoration: underline; }
  .Redform td {
    vertical-align: top; }
    .Redform td:first-child {
      padding-right: 5px; }

.Redform__title {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 500; }

.RedformButton--black {
  border: 0;
  background: #000000; }
  .RedformButton--black:hover {
    color: #ffffff; }

.ErrorMessage {
  font-size: 14px;
  font-weight: 700;
  padding-top: 5px;
  color: #000000; }
